VITE_FIREBASE_API_KEY=AIzaSyD8m1E4x85Dow3D1PtiUpfa22N4_S1GU9w
VITE_FIREBASE_AUTH_DOMAIN=the-final-book-project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=the-final-book-project
VITE_FIREBASE_STORAGE_BUCKET=the-final-book-project.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1067209935892
VITE_FIREBASE_APP_ID=1:1067209935892:web:b768e2d3aa75fa42056b01
VITE_FIREBASE_MEASUREMENT_ID=G-EH58XY55XL
